<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="shortcut icon"
  href="/icons/favicons/favicon.ico"
  type="image/x-icon"
/>
<meta name="application-name" content="Frozen Shop" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/icons/favicons/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/icons/favicons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/icons/favicons/favicon-16x16.png"
/>
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
  integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
  crossorigin="anonymous"
/>

<link rel="stylesheet" href="/styles/main.css" />
<link rel="stylesheet" href="/lib/slick/slick.css" />
<link rel="stylesheet" href="/lib/slick/slick-theme.css" />

<title>Frozen Shop</title>