<div class="header">
  <div class="header-items">
    <div id="show-menu" class="menu icon-button">
      <i class="fas fa-compass"></i>
    </div>
    <div class="title" onclick='location.href="/"'>FrozenShop</div>
    <div class="right-buttons">
      <div id="search-show-button" class="icon-button">
        <i class="fas fa-search"></i>
      </div>
      <div id="cart-button" class="icon-button cart">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div id="auth-button" class="icon-button auth">
        <i class="fas fa-user-circle"></i>
      </div>
      <div id="exit-button" class="icon-button">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </div>
  </div>
</div>
